{% extends "frontpage/base.html" %}

{% block content %}

-------------------
 <br>
 <br>
<form action="/upload/" method="post">
  {% csrf_token %}
  <label for="Youtube URL">Enter Youtube URL</label>
  <br>
  <input id="paste_youtube_url" type="text" name="paste_youtube_url" value="{{ current_url }}">
  <br>
  <br>
  <label for="Youtube API">Enter Youtube API key</label>
  <br>
  <input id="paste_youtube_api" type="text" name="paste_youtube_api" value="{{ current_api }}">
  <input type="submit" value="OK">
</form>
{% endblock content %}
